
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from demo.hasthemes.com/pustok-preview/pustok/blog-left-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Mar 2021 10:43:13 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/plugins.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/image/favicon.ico">
</head>

<body>
    <div class="site-wrapper" id="top">
        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/assets/index.html">Home</a></li>
                            <li class="breadcrumb-item active">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <section class="inner-page-sec-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-lg-2 mb--40 mb-lg--0">
                        <div class="row space-db-lg--60 space-db--30">
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-1.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">
                                                Use BLOG TITLE To Make Someone
                                                Fall In Love
                                            </a>
                                        </h3>
                                        <p class="post-meta"><span>13/08/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...






                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-2.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">
                                                Ho To (Do) BLOG TITLE Without Your
                                                Office(House).
                                            </a>
                                        </h3>
                                        <p class="post-meta"><span>28/10/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...






                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-3.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">
                                                How to Grow Epiphytic Tropical
                                                Plants
                                            </a>
                                        </h3>
                                        <p class="post-meta"><span>30/10/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...






                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-2.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">
                                                Want A Thriving Business? Focus On
                                                BLOG TITLE!
                                            </a>
                                        </h3>
                                        <p class="post-meta"><span>22/01/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...






                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-4.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">
                                                Grow to Epiphytic Tropical
                                                Plants
                                            </a>
                                        </h3>
                                        <p class="post-meta"><span>30/10/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...






                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-1.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">
                                                Want More Money? Start BLOG
                                                TITLE
                                            </a>
                                        </h3>
                                        <p class="post-meta"><span>30/10/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...






                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-3.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">Beware The BLOG TITLE Scam</a>
                                        </h3>
                                        <p class="post-meta"><span>30/10/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...






                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-1.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">
                                                9 Ways BLOG TITLE Can Make You
                                                Invincible
                                            </a>
                                        </h3>
                                        <p class="post-meta"><span>30/10/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...






                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                                <div class="blog-card card-style-grid">
                                    <a href="~/assets/blog-details.html" class="image d-block">
                                        <img src="~/assets/image/others/blog-grid-2.jpg" alt="">
                                    </a>
                                    <div class="card-content">
                                        <h3 class="title">
                                            <a href="~/assets/blog-details.html">
                                                Want More Money? Start BLOG
                                                TITLE
                                            </a>
                                        </h3>
                                        <p class="post-meta"><span>30/10/2017 </span> | <a href="~/assets/#">Hastech</a></p>
                                        <article>
                                            <h2 class="sr-only">
                                                Blog Article
                                            </h2>
                                            <p>
                                                Maria Denardo is the Fashion Director theFashion Spot at. Prior to
                                                joining tFS, she worked as...



                                            </p>
                                            <a href="~/assets/blog-details.html" class="blog-link">Read More</a>
                                        </article>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <form>
                        <div class="inner-page-sidebar">
                            <div class="single-block">
                                <h2 class="sidebar-title mb--30">Search</h2>
                                <div class="site-mini-search">
                                    <input type="text" name="q" placeholder="Search">
                                    <button><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <div class="single-block">
                                <h2 class="sidebar-title mb--30">BLOG ARCHIVES</h2>
                                <ul class="sidebar-list mb--30">
                                    <li><a href="~/assets/#"> March 2015 (1)</a></li>
                                    <li><a href="~/assets/#">December 2014 (3)</a></li>
                                    <li> <a href="~/assets/#">November 2014 (4)</a></li>
                                    <li><a href="~/assets/#">September 2014 (1)</a></li>
                                    <li><a href="~/assets/#">August 2014 (1)</a></li>
                                </ul>
                            </div>
                            <div class="single-block ">
                                <h2 class="sidebar-title mb--30">CATEGORIES</h2>
                                <ul class="sidebar-list">
                                    @foreach (var cat in (IEnumerable<Category>)ViewBag.Categories)
                                    {
                                        <li>
                                            <input name="catIds" type="checkbox" value="@cat.Id" id="cat-@cat.Id" />
                                            <label for="cat-@cat.Id">@cat.Name (@cat.Products?.Count())</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="single-block" ">
                                <h2 class="sidebar-title mb--30">Tags</h2>
                                <ul class="sidebar-tag-list">
                                    <li><a href="~/assets/#"> Chilled</a></li>
                                     @foreach (var tag in (IEnumerable<Tag>)ViewBag.Tags)
                                    {
                                         <li>
                                             <a style="height:31.5px"><input name="tagIds" type="checkbox" value="@tag.Id" id="cat-@tag.Id" />
                                             <label class="tags-label" for="tag-@tag.Id">@tag.Title</label></a>
                                         </li>
                                    }  
                                </ul>
                            </div>
                            <!-- Promo Block -->
                                <button type="button" class="btn btn-success">Filter</button>
                                <div class="single-block" style="margin-top:30px">
                                <a href="~/assets/#" class="promo-image sidebar">
                                    <img src="~/assets/image/others/home-side-promo.jpg" alt="">
                                </a>
                            </div>
                           
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/ajax-mail.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>


<!-- Mirrored from demo.hasthemes.com/pustok-preview/pustok/blog-left-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Mar 2021 10:43:13 GMT -->
</html>
